.body-homepage {
  background-color: black;
  color: magenta;
  text-align: center;
}
img {
  width: 100%;
  border-radius: 200px;
}
a {
  text-decoration: none;
}
footer {
  margin-top: 50px;
  text-align: center;
}
footer a {
  color: black;
}
.container {
  text-align: center;
  margin-top: 150px;
  background-color: #d4d4d4;
  max-width: 1200px;
}
.project-link {
  background-color: black;
  padding: 10px 20px;
  border-radius: 7px;
  color: white;
}
.launch-btn {
  margin-bottom: 30px;
}
